$color-pairs: (
  'primary-0': 'primary-1',
  'primary-1': 'primary-2',
  'primary-2': 'primary-3',
  'secondary-0': 'secondary-1',
  'secondary-1': 'secondary-2',
  'secondary-2': 'secondary-3',
);

.wp-block-buttons {
  .wp-block-button__link {
    width: max-content;
  }

  &.is-style-centered-mobile {
    @media screen and (max-width: 768px) {
      justify-content: center;

      &.is-vertical {
        align-items: center;
        justify-content: initial;
      }
    }
  }

  &.is-style-left-mobile {
    @media screen and (max-width: 768px) {
      justify-content: flex-start;

      &.is-vertical {
        align-items: flex-start;
        justify-content: initial;
      }
    }
  }
}

.wp-block-button {
  &.is-style-with-icon.has-icon-left &__link,
  &.is-style-border-with-icon.has-icon-left &__link {
    flex-direction: row-reverse;
  }

  &.is-style-border-with-icon &__link {
    background: transparent none;
    border: 2px solid currentColor;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 1ch;
    width: max-content;
    padding: 0.5rem 1.5rem;
    white-space: nowrap;
    transition: all 150ms ease-in;

    &:hover {
      text-decoration: none;
    }

    svg {
      flex-shrink: 0;
    }

    @each $from, $to in $color-pairs {
      &.has-#{$from}-background-color:hover {
        background-color: var(--wp--preset--color--#{$to}) !important;
      }
    }

    .is-style-border-with-icon &,
    .is-style-outline & {
      @each $from, $to in $color-pairs {
        &.has-#{$from}-color:hover {
          color: var(--wp--preset--color--#{$to}) !important;
        }
      }
    }

    .is-style-outline & {
      background: transparent;
      border: 2px solid currentColor;
    }
  }
}
