.wp-block-columns {
  &.is-style-inverted-mobile {
    @media screen and (max-width: 768px) {
      > .wp-block-column:last-child {
        order: -1;
      }
    }
  }

  &.is-style-linked {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-color: var(--wp--preset--color--primary-0);
      z-index: -1;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 1px;

      @media screen and (min-width: 768px) {
        left: 0;
        right: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        transform: translateY(-50%);
      }
    }
  }
}
