.wp-block-columns {
  &.is-style-inverted-mobile {
    @media screen and (max-width: 768px) {
      > .wp-block-column:last-child {
        order: -1;
      }
    }
  }

  &.is-style-linked {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      background-color: var(--wp--preset--color--primary-0);
      z-index: -1;
      height: 1px;
      transform: translateY(-50%);
    }
  }
}
