.wp-block-heading {
  &.is-style-centered-mobile {
    @media screen and (max-width: 768px) {
      text-align: center;
      margin-right: auto !important;
      margin-left: auto !important;
    }
  }
}
