.block-hero {
  position: relative;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.28);
    z-index: 1;
  }

  .main > & {
    grid-column: fullwidth;
  }

  &__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;

    .main & {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--placeholder {
      background-color: var(--wp--preset--color--secondary-0);
    }

    &--fixed {
      background-image: var(--bg-medium_large);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;

      @media (min-width: 768px) {
        background-image: var(--bg-large);
      }

      @media (min-width: 1280px) {
        background-image: var(--bg-very-large);
      }
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr auto;
    padding: 0 0 calc(100px + 4rem);

    @media (min-width: 1024px) {
      padding: 0 0 3.875rem;
    }
  }

  &__center {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 25dvh;
  }

  &__title {
    color: var(--wp--preset--color--white);
    font-size: var(--wp--preset--font-size--h-4);
  }

  &__bottom {
    max-width: 25rem;
    color: var(--wp--preset--color--white);
  }
}

