@property --splide-padding-start {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

.block-slider {
  &.alignfull {
    --splide-padding-start: var(--container-padding);

    @media (min-width: 769px) {
      --splide-padding-start: calc(
        max(var(--container-padding), (100dvw - var(--wide-width)) / 2)
        + (var(--wide-width) - var(--content-width)) / 2
      );
    }
  }

  .block-slide {
    flex-grow: 1;
    align-self: stretch;

    > * {
      height: 100%;
    }
  }
}

.splide__arrows {
  display: flex;
  justify-content: center;
  width: 100dvw;
  gap: 1rem;
  padding: 2rem 0 1rem 0;

  &.is-looped {
    padding-left: 0;
  }

  .splide__arrow {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: none;
    opacity: 1;
    background-color: var(--wp--preset--color--white);
    width: 3em;
    height: 3em;

    svg {
      fill: none;
      width: 1.75em;
      height: 1.75em;
    }

    &:disabled {
      opacity: 0.5;
    }
  }


  .has-arrows-above & {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    justify-content: space-between;
    padding: 0 calc(var(--splide-padding-start) - 2rem);

    .splide__arrow {
      background-color: var(--wp--preset--color--primary-0);

      svg path {
        stroke: #fff;
      }
    }
  }
}
