@property --splide-padding-start {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

.block-slider {
  &.alignfull {
    --splide-padding-start: var(--container-padding);

    @media (min-width: 769px) {
      --splide-padding-start: calc(
        max(var(--container-padding), (100dvw - var(--wide-width)) / 2)
        + (var(--wide-width) - var(--content-width)) / 2
      );
    }
  }

  .block-slide {
    flex-grow: 1;
    align-self: stretch;

    > * {
      height: 100%;
    }
  }
}

.splide__arrows {
  display: flex;
  gap: 0.25rem;
  padding: 1rem 0 1rem var(--splide-padding-start);

  .splide__arrow {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: none;
    opacity: 1;
    background-color: var(--wp--preset--color--white);

    svg {
      fill: none;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
