$blancCasse: #eeecde;
$turquoise: #7FB2A2;
$or: #D1B15C;
$noir: #000;

$colors: (
  "blancCasse": $blancCasse,
  "turquoise": $turquoise,
  "or": $or,
  "noir": $noir
);

$textFont: 'Verdana', sans-serif;
$titleFont: 'Georgia', serif;
