.is-animated {
  opacity: 0;
  will-change: opacity, transform;

  &[data-animation="text-chars"] {
    opacity: 1;

    [data-char] {
      opacity: 0.3;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .is-animated {
    opacity: 1;

    &[data-animation="text-chars"] [data-char] {
      opacity: 1;
    }
  }
}
