.horizontal-scroll {
  position: relative;
  z-index: 10;
  overflow: clip;

  &__wrapper {
    grid-column: span 12;

    @media (min-width: 1000px) {
      height: 100vh;
      padding: 7rem 0;
      position: sticky;
      top: 0;
    }
  }

  &__view {
    @media (min-width: 1000px) {
      display: inline-flex;
      align-items: stretch;
      flex-wrap: nowrap;
      white-space: nowrap;
      gap: 10px;
      height: 100%;
      overflow: clip;
      transform: translateX(var(--transformation));
      transition: transform 0.5s cubic-bezier(0, 0, 0, 1);

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }
  }

  &__scroller {
    grid-column: span 12;
    height: 200vh;
    margin: 25vh 0 0;

    @media (min-width: 1220px) {
      height: 250vh;
    }

    @media (max-width: 999px) {
      display: none;
    }
  }
}
