:root {
  --content-width: 1560px;
  --wide-width: 1600px;
  --extra-wide-width: 1600px;
  --container-padding: 1.5rem;
  --header-height: 75px;

  @media screen and (min-width: 769px) {
    --container-padding: 2.5rem;
  }
}

.main,
.innergrid,
.main > .alignfull {
  display: grid;

  grid-template-columns:
    [fullwidth-start] minmax(var(--container-padding), 1fr)
    [extra-wide-start wide-start content-start]
    repeat(12, minmax(0, calc((100% - (var(--container-padding) * 2)) / 12)))
    [content-end wide-end extra-wide-end]
    minmax(var(--container-padding), 1fr) [fullwidth-end];

  @media (min-width: 769px) {
    grid-template-columns:
      [fullwidth-start] minmax(var(--container-padding), 1fr)
      [extra-wide-start wide-start]
      minmax(0, calc((var(--wide-width) - var(--content-width)) / 2))
      [content-start]
      repeat(12, minmax(0, calc(var(--content-width) / 12)))
      [content-end]
      minmax(0, calc((var(--wide-width) - var(--content-width)) / 2))
      [wide-end extra-wide-end]
      minmax(var(--container-padding), 1fr) [fullwidth-end];
  }

  @media (min-width: 1100px) {
    grid-template-columns:
      [fullwidth-start] minmax(var(--container-padding), 1fr)
      [extra-wide-start] minmax(0, calc((var(--extra-wide-width) - var(--wide-width)) / 2))
      [wide-start] minmax(0, calc((var(--wide-width) - var(--content-width)) / 2))
      [content-start]
      repeat(12, minmax(0, calc(var(--content-width) / 12)))
      [content-end]
      minmax(0, calc((var(--wide-width) - var(--content-width)) / 2))
      [wide-end] minmax(0, calc((var(--extra-wide-width) - var(--wide-width)) / 2))
      [extra-wide-end]
      minmax(var(--container-padding), 1fr) [fullwidth-end];
  }

  > * {
    grid-column: content;
    width: 100%;

    &.wp-block-cover__image-background {
      grid-column: initial;
    }
  }

  .alignfull {
    grid-column: fullwidth;
  }

  .alignwide {
    grid-column: wide;
  }

  .alignextrawide {
    grid-column: extra-wide;
  }
}

.is-layout-constrained > :where(.alignwide) {
  max-width: var(--wide-width);
}

.is-layout-constrained > :where(.alignextrawide) {
  max-width: var(--extra-wide-width);
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}
